* {
    margin: 10px;
    box-sizing: border-box;
    font-family: MyriadTilt;

}


@font-face {
    font-family: MyriadTilt;
    src: url("Myriad Tilt.otf") format("opentype");
}

body {
    background-image: url(https://www.yorkshirewildlifepark.com/app/dist/img/de43b65015341e73d6274d9a822a36b6.png);
    background-color: #46683d;
}

header{
    color: yellow;
    display:flex;
    justify-content: center;
    font-size: 70px;

}
label{
    color:yellow;
    font-size: 25px;
    display:grid;
    width: 20%;

}

form{
    display:grid;
    justify-content: center;
    width:100%;

}


input.field {
    font-size:25px;
    margin: 10px 10px 0 0px;
}




input[type=submit] {
    background: blue;
    color: yellow;
    border-style: 1px black solid;
    height: 47px;
    width: 190px;
    font-size: 30px;
    border-radius: 180px;
}