* {
    margin: 10px;
    box-sizing: border-box;
    font-family: MyriadTilt;

}


@font-face {
    font-family: MyriadTilt;
    src: url("Myriad Tilt.otf") format("opentype");
}

body {
    background-image: url(https://www.yorkshirewildlifepark.com/app/dist/img/de43b65015341e73d6274d9a822a36b6.png);
    background-color: #46683d;
}

header{
    position:relative;
    color: yellow;
    display:flex;
    justify-content: center;
    font-size: 70px;

}
label{
    color:yellow;
    font-size: 25px;
    display:grid;
    width: 20%;

}

form{
    display:grid;
    justify-content: center;
    width:100%;

}


input.field {
    font-size:25px;
    margin: 10px 10px 0 0px;
}




input[type=submit] {
    color: white;
    border-style: 1px black solid;
    height: 67px;
    width: 190px;
    font-size: 30px;
    border-radius: 180px;
    background-image: url(https://i.pinimg.com/originals/6a/1f/74/6a1f74043e48b88f4d52a11961dcabb4.jpg);
    background-color: 	#FFA500;
}

button {
    position: absolute;
    right:17px;
    top:33px;
    color: white;
    border-style: 1px black solid;
    height: 67px;
    width: 190px;
    font-size: 30px;
    border-radius: 180px;
    background-image: url(https://i.pinimg.com/originals/6a/1f/74/6a1f74043e48b88f4d52a11961dcabb4.jpg);
    background-color: 	#FFA500;
}

a {
    color:white;
    text-decoration:none;
}