* {
    margin: auto;
    box-sizing: border-box;
    font-family: MyriadTilt;
}

html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: MyriadTilt;
    src: url("Myriad Tilt.otf") format("opentype");
}

body {
    background-image: url(https://www.yorkshirewildlifepark.com/app/dist/img/de43b65015341e73d6274d9a822a36b6.png);
    background-color: #46683d;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
}

header {
    display:flex;
    justify-content: center;
    position:relative;
    border: 10px maroon dotted;

}

header button {
    position: absolute;
    left:83%;
    top:33px;
    color: white;
    border-style: 1px black solid;
    height: 67px;
    width: 190px;
    font-size: 30px;
    border-radius: 180px;
    background-image: url(https://i.pinimg.com/originals/6a/1f/74/6a1f74043e48b88f4d52a11961dcabb4.jpg);
    background-color: 	#FFA500;
}

a {
    color: White;
    text-decoration:none;
}

h1 {
    font-size: 125px;
    color: yellow;

}

.paragraph h2 {
    color:yellow;
    margin: 50px;
    font-size: 94px;
    display: flex;
    justify-content: center;

}

.paragraph h3 {
    color:red;
    margin: 50px;
    font-size: 94px;
    display: flex;
    justify-content: center;

}

img {
    display: flex;
    border: 3px yellow solid;
    border-radius:180px;
    max-width: 320px;

}


h2 {
    display: flex;
    justify-content: space-around;
    color:whitesmoke;
    padding:20px;
    font-size: 50px;
}

/*div.animals*/


footer {
    display: flex;
    position:relative;
    border-top: 10px maroon dotted;
}

footer h2 {
    position:absolute;
    top:15px;
    font-size:50px
}

 button {
     position:absolute;
     left: 44%;
     top: 30px;
    color: white;
    border-style: 1px black solid;
    height: 39px;
    width: 190px;
    font-size: 30px;
    border-radius: 180px;
    background-image: url(https://i.pinimg.com/originals/6a/1f/74/6a1f74043e48b88f4d52a11961dcabb4.jpg);
    background-color: 	#FFA500;
}



